
.playBox {
    width: 40px;
    height: 40px;
    background-color: #C0C0C0;
    border-color: black;
    border-width: 2px;
    position:relative;
    border-color: #E0E0E0;
    border-style:outset;
    box-sizing: border-box;
}
.text-stroked {
  -webkit-text-stroke-color: #E4AEA2;
  -webkit-text-stroke-width: 4px;
}
/* #playingField {
    width: 20%;
    height: 20%;
}