@import "tailwindcss";

@font-face {
  font-family: Geomatrix;
  src: url(Geomatrix.ttf);
}
@font-face {
  font-family: Minesweeper;
  src: url(microsoft-minesweeper-sans.ttf);
}
@font-face {
  font-family: Inter;
  src: url(Inter-VariableFont_opsz\,wght.ttf);
}
#start:hover {
  transform: scale(1.03);
}
@keyframes startClick {
  100% {transform:rotate(20deg) scale(0.4);}
}
#start {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function:cubic-bezier(0, 0, 0.18, 1.82);
}
