@import "tailwindcss";

@font-face {
  font-family: Geomatrix;
  src: url(Geomatrix.ttf);
}
@font-face {
  font-family: Minesweeper;
  src: url(microsoft-minesweeper-sans.ttf);
}
@font-face {
  font-family: Inter;
  src: url(Inter-VariableFont_opsz\,wght.ttf);
}
#start:hover {
  transform: scale(1.03);
}
@keyframes startClick1 {
  100% {transform:rotate(20deg) scale(0.4);}
}
@keyframes startClick2 {
  100%{transform:translateY(-120vh)}
}
@keyframes startClick3 {
  50%{transform:scale(0.5)}
  100%{transform:scale(20)}
}
@keyframes startClick4 {
  100%{background-color: rgba(0, 0, 0, 0);color: rgba(0, 0, 0,0);}
}
#start {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function:cubic-bezier(0, 0, 0.18, 1.82);
}